@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
}

input {
  user-select: text;
}
